@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900|Anton');
$heading-font: 'Anton';
$main-font: 'Open Sans';
$dark-color: #555;
$light-color: #fff;
$contrast-color: #d25b38;
$section-padding: 3rem;
$section-padding-sm: 1rem;
$section-margin: 1rem;
$dark-background-color: #f4f2f2;

body {
	font-family: $main-font;
	color: $dark-color;
}
h1, h2, h3, h4, h5 {
	font-family: $heading-font;
}

.heading {
	font-family: $heading-font;
	text-transform: uppercase;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.selected-text {
	color: $contrast-color;
}

.agency-button {
	background-color: $contrast-color;
	padding: 1rem 3rem;
	color: $light-color;
	border: none;
	text-transform: uppercase;
	border: 2px solid transparent;
	&.btn-bg-dark {
		&:hover {
			background-color: darken($contrast-color, 5%);
		}
	}
	&:hover {
		background-color: transparent;
		border: 2px solid $light-color;
	}
	@media (max-width: 440px) {
		margin-bottom: 0.5rem;
		margin-top: 1rem;
	}
}

/*****NAVBAR****/

#main-nav {
	position: absolute;
	background-color: #333;
	@media only screen and (min-width: 992px) {
		background-color: transparent;
	}
}

li.nav-item {
	font-family: $heading-font;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
	color: $light-color;
}

/*****HEADER****/

header {
	padding: 200px 0;
	background-image: url('../img/header-img.png');
	background-position: center center;
	background-size: cover;
	color: $light-color;
}

/******ABOUT SECTION*****/
%img-column {
	height: 100%;
	width: 100%;
	background-size: cover;
}

.about-img {
	@extend %img-column;
	background-image: url('../img/about.png');
}

%about-section-overflow {
	position: absolute;
	z-index: 1;
	left: -15rem;
	color: $light-color;
	text-transform: uppercase;
	font-family: $heading-font;
}

.about-overflow {
	@extend %about-section-overflow;
	.about-overflow-heading {
		text-align: right;
		padding: 1rem 0;
	}
	hr {
		background-color: $light-color;
		width: 100%;
	}
}

.icon-overflow {
	@extend %about-section-overflow;
	margin-top: 1.7rem;
	left: -3rem;
	img {
		height: 70px;
		width: 70px;
	}
}

.about-description {
	margin-left: 3rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

@media (max-width: 992px) {
	section#about {
		padding: $section-padding-sm;
	}
	.about-description {
		margin: 0.5rem;
		text-align: center;
	}
	.about-img-section {
		display: none;
	}
	.about-overflow {
		position: static;
		color: $dark-color;
		margin: auto;
		.about-overflow-heading {
			text-align: center;
			padding-bottom: 0;
		}
	}
	.icon-overflow {
		display: none;
	}
}

/******SERVICES SECTION*****/

section#services {
	padding: $section-padding;
	background-color: $dark-background-color;
}

.services-card {
	background-color: $light-color;
	padding: 1.5rem;
	margin: 1rem 0;
	text-align: center;
	i {
		margin-bottom: 1.5rem;
		font-size: 3rem;
	}
	h3 {
		text-transform: uppercase;
		color: $contrast-color;
		font-family: $heading-font;
	}
}

@media (max-width: 992px) {
	section#services {
		padding: $section-padding-sm;
	}
}

/******BLOG SECTION*****/

section#blog {
	padding: $section-padding;
	h3 {
		font-family: $heading-font;
		font-size: 1.25rem;
	}
}

.blog-overflow {
	position: absolute;
	bottom: 0;
	padding: 2rem;
	color: $light-color;
}

.blog-img {
	@extend %img-column;
	background-image: url('../img/blog-4.png');
}

@media (max-width: 992px) {
	section#blog {
		padding: $section-padding-sm;
	}
	.post-column {
		display: none;
	}
}

@media (max-width: 576px) {
	.post {
		text-align: center;
	}
	.post-img {
		text-align: center;
		padding-bottom: 1rem;
	}
}

/******TEAM SECTION*****/

section#team {
	padding: $section-padding;
	background-color: $dark-background-color;
}

.team-member {
	padding: 1.5rem;
	.role {
		color: $contrast-color;
		font-family: $heading-font;
		font-size: 1.25rem;
	}
}

@media (max-width: 576px) {
	section#team {
		padding: $section-padding-sm;
	}
	.team-member {
		padding: 1rem;
	}
}


/******PACKAGE SECTION*****/

section#package {
	padding: $section-padding;
	background-color: $dark-background-color;
}

.package-card {
	text-align: center;
	background-color: $light-color;
	i {
		font-size: 5rem;
		margin: 1.5rem;
	}
	h3 {
		margin: 0;
	}
	.subheading {
		color: $contrast-color;
		font-family: $heading-font;
		font-size: 1.25rem;
	}
	.description {
		padding: 0 1.5rem;
	}
	.price {
		font-family: $heading-font;
		font-size: 3rem;
		margin: 0;
	}
	button {
		margin: 1rem;
		&:hover {
			background-color: #e6653f;
		}
	}
}

@media (max-width: 576px) {
	section#package {
		padding: $section-padding-sm;
	}
}

/******CONTACT SECTION*****/

.contact-img {
	@extend %img-column;
	background-image: url('../img/contact-img.png');
}

.contact-info {
	padding: 1.5rem;
	i {
		font-size: 3rem;
	}
	.contact-info-description {
		h3 {
			color: $contrast-color;
			font-family: $heading-font;
		}
	}
}

@media (max-width: 768px) {
	.contact-img-section {
		display: none;
	}
	.contact-info {
		padding: 0.5rem;
	}
}


/******FOOTER*****/

footer {
	padding: $section-padding;
	background-color: $dark-background-color;
	text-align: center;
}

@media (max-width: 768px) {
	footer {
		padding: $section-padding-sm;
	}
}